<div class="toc-block-container" style="width:200">
    <div class="toc-block">

        <h3 class="docs-section-heading"><%= link_to "Creating Armada service", "/docs/creating_service" %></h3>
        <ul style="list-style-type:none">
            <li class="doc-item">
                <%= active_link_to "Creating Armada service", "/docs/creating_service" %>
            </li>
            <li class="doc-item">
                <%= active_link_to "Development environment", "/docs/development_environment" %>
            </li>
            <li class="doc-item">
                <%= active_link_to "Building the service", "/docs/building_service" %>
            </li>
            <li class="doc-item">
                <%= active_link_to "Basic service discovery", "/docs/basic_service_discovery" %>
            </li>
            <li class="doc-item">
                <%= active_link_to "Service configuration", "/docs/service_configuration" %>
            </li>
        </ul>

        <h3 class="docs-section-heading"><%= link_to "Armada Features", "/docs/armada_features/service_discovery" %></h3>
        <ul style="list-style-type:none">
            <li class="doc-item">
                <%= active_link_to "Service Discovery", "/docs/armada_features/service_discovery" %>
            </li>
            <li class="doc-item">
                <%= active_link_to "Clustering", "/docs/armada_features/clustering" %>
            </li>
        </ul>

        <h3 class="docs-section-heading"><%= link_to "Armada Components", "/docs/armada_components/armada_components" %></h3>
        <ul style="list-style-type:none">
            <li class="doc-item">
                <%= active_link_to "Armada Components", "/docs/armada_components/armada_components" %>
            </li>
            <li class="doc-item">
                <%= active_link_to "Building from source", "/docs/armada_components/building_from_source" %>
            </li>
        </ul>

    </div>
</div>
