<div class="toc-block-container">
  <div class="toc-block">
    <h3 class="docs-section-heading"><%= link_to "Introduction", "/intro/architecture"%></h3>
    <ul>
      <li class="doc-item">
        <%= active_link_to "Architecture overview", "/intro/architecture"%> </li>
      <li class="doc-item">
        <%= active_link_to "Highlights", "/intro/highlights"%> </li>
      <li class="doc-item">
        <%= active_link_to "Still unconvinced?", "/intro/still_unconvinced"%> </li>
    </ul>
    <h3 class="docs-section-heading"><%= active_link_to "Download", "/intro/download/get_armada"%></h3>
    <h3 class="docs-section-heading"><%= link_to "Getting started", "/intro/getting_started/install"%></h3>
    <ul>
      <li class="doc-item">
        <%= active_link_to "Installation", "/intro/getting_started/install"%> </li>
      <li class="doc-item">
        <%= active_link_to "Running services", "/intro/getting_started/running_services"%> </li>
      <li class="doc-item">
        <%= active_link_to "Building services", "/intro/getting_started/building_services"%> </li>
      <li class="doc-item">
        <%= active_link_to "Creating new service", "/intro/getting_started/creating_new_service"%> </li>
      <li class="doc-item">
        <%= active_link_to "Connecting ships", "/intro/getting_started/ships"%> </li>
    </ul>
  </div>
</div>
